<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../static/styles.css">
        <title>
            Health news
        </title>
    </head>

    <body>        
        <div class="top">
            <h1>HealthHome</h1>
        </div>


        <div class="menubar">
            <a class = "menuitem" href = "{{ url_for('covid') }}"><p class = "menuitem">SG Covid News</p></a>
            <a class = "menuitem" href = "{{ url_for('home') }}"><p class = "menuitem">Mental health issues</p></a>
        </div>


        <div class="leftcontent">
            <h2 class = "subtitle">Covid News</h2>
            <p>Total number of covid cases on {{newCases[0]}}: <a class = "caseNumber" href = "{{ newCases[4] }}">{{newCases[3]}}</a></p>
            <p><a href="https://appointment.vaccine.gov.sg/">Click here to register for the vaccine</a></p>
                
            <br><br>
        </div>

        <div class="rightcontent">
            <h2 class = "subtitle">Safe Management Measures</h2>
            <p> <a href = "{{ updates[0] }}">Latest Government update as of {{ updates[1] }}</a> </p>
            <p> <a href ='{{workplace}}'>Latest requirements for Workplace SMM</a> </p>
                    
            <br><br>
        </div>

		<p><a href = 'home.html'>Back to homepage</a></p>


    </body>

</html>
