<!DOCTYPE html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<title>
Project A
</title>
</head>
<body style="background-color:powderblue;">
<h1>Singapore Health </h1>
<p>Total number of covid cases on {{newCases[0]}}: {{newCases[3]}}</p>
<p><a href="https://appointment.vaccine.gov.sg/">Click here to register for the vaccine</a></p>

<div><h1>News</h1></div>
<p>Government update: {{updates}} </p>
<p>SMM workplace: {{workplace}} </p>


<p><h1>Mental Health</h1></p>
<p> Did you know Singapore is the 2nd most overworked country in the world? </p>
<p><a href = 'https://www.bemindfulonline.com/test-your-stress'>Try out this quick stress test </a></p>
<p><a href = 'https://www.youtube.com/watch?v=tEmt1Znux58' >If you have a score above 15, don't worry, try out this simple breathing exercise!</a></p>
<p>If you need help, don't worry, there are many people out there willing to help you out!</p>
<p><a href = 'https://www.gov.sg/article/call-these-helplines-if-you-need-emotional-or-psychological-support'>Check out this government website for mental health services</a><p>

<p>Lastly, here are some pictures of Pikachu to cheer you up!</p>
<img src="https://c.tenor.com/P9pPZ1prRCMAAAAd/pokemon-pikachu.gif" alt="Have a nice day!" width="465" height="345">
<img src = 'https://c.tenor.com/xwfJ3hKzMDwAAAAM/pokemon-pikachu.gif' alt = "Have a nice day!" width="309" height="345">
<img src="https://i.pinimg.com/originals/86/54/c8/8654c8df546007076249f9da565b2355.gif" alt="Have a nice day!" width="465" height="345">
</body>
</html>
